<div class="mb-3 container">
  <form action="/answer" data-turbo="false">
    <input type="text" placeholder="Type in your question..." class="form-control w-50" name=question>
    <input type="submit" class="btn btn-info" value="Ask!">
  </form>
</div>
